@media (max-width: 768px) {
    nav{
        padding: 30px;
    }
    nav ul{
        display: none;
    }
    .container{
        width: 100%;
        padding: 0px 30px 30px 0px;
    }
    nav .btns{
        display: none;
    }
    .mobile_menu{
        display: block;
        font-size: 30px;
    }
    #hero{
    padding: 30px;
    }
    #hero .content{
    width: 100%;
    background: var(--neutral-silver);
    } 
    #hero .image{
    width: 100%;
    }
    #hero .content h4{
    font-size: 44px;
    }
    #hero .content p{
    font-size: 14px;
    }
    #client .heading h4{
    font-size: 24px;
    }
    #client .heading p{
    font-size: 14px;
    }
    #client .row{
    flex-wrap:wrap;
    gap: 42px;
    }
    #client .row{
    justify-content: center;
    padding: 0px 30px 0px 30px;
    }
    #client .heading p{
    padding: 0px 30px 0px 30px;
    }
    #community .heading h4{
    font-size: 20px;
    }
    #community .heading p{
    font-size: 14px;
    }
    #community .row .card{
    width:100%
    }
    #pixel{
        padding: 30px;
    }
    #pixel .content{
    width: 100%;
    background: var(--neutral-silver);
    } 
    #pixel .image{
    width: 100%;
    }
    #pixel .content h4{
    font-size: 44px;
    }
    #pixel .content p{
    font-size: 14px;
    }
    #footer{
        padding: 30px;
    }
    #footer .content{
    width: 100%;
    background: var(--neutral-silver);
    } 
    #footer .image{
    width: 100%;
    margin-bottom: 5px;
    }
    #footer .content h4{
    font-size: 44px;
    margin-top: 5px;
    }
    #footer .content p{
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    }
    #local{
        padding: 30px;
    }
    #local .content, #local .number{
        width: 100%
    }
    #local .content{
         margin-bottom: 40px;
    }
    #local .main_contentbox{
        width: 50%
    }



}
